body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

li {
    width: 25%;
    border: 0.5px solid gray;
    padding: 10px;
    margin-bottom: 10px;
}